@import "@wildberries/ui-kit/lib/styles/constants.module.scss";
@import "@wildberries/ui-kit/lib/styles/mixins.module.scss";

.Custom-form-file-uploader {
  padding-bottom: 18px;

  &--error {
    padding-bottom: 0;
  }

  &__error {
    color: $InputError;
    display: block;
    margin-top: 2px;

    @include h5;
  }
}
