@import "@/styles/constants.module.scss";
@import "@/styles/mixins.module.scss";

.Form-simple-input {
  padding-bottom: 18px;

  &--error {
    padding-bottom: 0;
  }

  &__label {
    padding-bottom: 8px;
  }

  &__error {
    color: $InputError;
    display: block;
    margin-top: 2px;

    @include h5;
  }

  &__badge {
    display: inline-block;
    margin-left: 8px;
  }
}
