@import "@wildberries/ui-kit/lib/styles/constants.module.scss";
@import "@wildberries/ui-kit/lib/styles/media.module.scss";

.Form-page {
  background-color: $White;
  border-radius: 8px;
  margin: 44px;
  max-width: 1028px;
  padding: 36px;
  position: relative;
}

@media #{$tablet} {
  .Form-page {
    margin: 28px;
    padding: 24px 16px;
  }
}

@media #{$mobile} {
  .Form-page {
    margin: 16px 0;
    padding: 20px 11px;
  }
}
