@import "@wildberries/ui-kit/lib/styles/media.module.scss";


.Photo-block {
  &__text-wrapper {
    padding-bottom: 24px;
  }

  &__field-wrapper {
    max-width: 360px;
    padding-bottom: 14px;

    &--photo-field {
      padding-top: 16px;
    }
  }
}

@media #{$mobile} {
  .Photo-block {
    &__field-wrapper {

      max-width: 100%;
      padding-bottom: 2px;

      &--photo-field {
        padding-top: 0;
      }
    }
  }
}
