@import "@wildberries/ui-kit/lib/styles/media.module.scss";

.Main-block {
  padding: 12px 0;

  &__text-wrapper {
    padding-bottom: 24px;
  }

  &__field-wrapper {
    max-width: 360px;
    padding-bottom: 14px;

    &--photo-field {
      padding-top: 16px;
    }
  }
}

@media #{$mobile} {
  .Main-block {
    padding: 8px 0;

    &__field-wrapper {
      max-width: 100%;
    }

    &__text-wrapper {
      &--title {
        padding-bottom: 16px;
      }
    }
  }
}
