@import "@wildberries/ui-kit/lib/styles/constants.module.scss";
@import "@wildberries/ui-kit/lib/styles/media.module.scss";

.Mobile-header-layout {

  display: none;

  &__main {
    &-title {
      display: block;
    }
  }
}

@media #{$mobile} {
  .Mobile-header-layout {
    background: $LightGrey;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    box-sizing: border-box;
    display: block;
    padding: 0;


    &__mobile {
      display: block;

      &-header {
        background-color: $LightGrey;
      }

      &-icon-container {
        background: linear-gradient(299.45deg, #410b7b 24.32%, #420b7c 97.47%);
        box-sizing: border-box;
        height: 46px;
        overflow: hidden;
        width: 100%;
      }
    }

    &__main {
      display: none;
    }
  }
}
