@import "@wildberries/ui-kit/lib/styles/media.module.scss";
@import "@wildberries/ui-kit/lib/styles/constants.module.scss";
@import "@wildberries/ui-kit/lib/styles/keyframes.module.scss";

.Title-block {
  &__text-wrapper {
    padding-bottom: 24px;
  }

  &__field-wrapper {
    max-width: 360px;
    padding-bottom: 14px;

    &--photo-field {
      padding-top: 16px;
    }

    &--enter {
      animation: fadeInOverlay 500ms forwards;
    }

    &--exit {
      animation: fadeOutOverlay 500ms forwards;
    }
  }
}

@media #{$mobile} {
  .Title-block {
    &__text-wrapper {
      display: none;
    }

    &__field-wrapper {
      max-width: 100%;
    }
  }
}
